.professors-list {
    display: block;
    width: 40%;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding:20px;
}
.professors-list ul{
    list-style-type: none;
    margin: 0;
    padding:0;

}
.professors-list   a{
    text-decoration: none;
    color: rgba(5, 87, 62, 0.897);
   
    padding-left: 20%;
    padding-right: 20%;
}
.professors-list  a:hover,a:active{
    color:rgb(13, 29, 2);
}
.professors-list   li{    
    display:block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top:5px;
    padding-bottom: 5px;
}
.student-message{
    font-size: 16px;
    color: rgb(13, 29, 2);
    
    padding:5px;
    margin: 5px;
    display: block;
    width: 40%;
}
td form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
td form input{
   margin: 10px;
   padding: 5px;
}
td form input[type=submit]{
    background-color: rgb(9, 121, 9);
    padding: 10px;
    color: antiquewhite;
    border-radius: 10px;
    border: 1px solid green;
   
 } 
 td form input[type=submit]:hover {
    background-color: rgb(131, 223, 131);
    color: rgb(34, 33, 31);
 }